import { RulesConfig } from './src/types';

const rules: RulesConfig = {
  projects: [
    {
      projectIds: [],
      groupId: '',
      rules: [
        { branch: ['all'], minLevel: 30, nbReviewers: 2 }
      ],
    },
  ],
};

export default rules;
