const rules = {
  "projects": [
    {
      "projectId": 1,
      "rules": [
        { "branch": ["all"], "groupId": 1, "minLevel": 30, "nbReviewers": 2 },
        { "branch": ["master"], "groupId": 1, "minLevel": 40, "nbReviewers": 2 }
      ]
    }
  ]
}

export default rules;
